[run]
omit = 
    iqmotion/tests/*
    iqmotion/hardware_tests/*

[report]
omit = 
    iqmotion/message_making/message.py
    iqmotion/message_making/client_with_entries_message.py
    iqmotion/iq_devices/iq_module_json_parser.py
    iqmotion/iq_devices/ramper.py
exclude_lines = 
    def _find_serial_port
    def list_clients
    def list_client_entries
skip_covered = 0
show_missing = 1

