[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
semversioner = "*"
numpy = "*"
pyserial = "*"
pytest = "*"
pytest-cov = "*"

[packages]
numpy = "*"
pyserial = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
